<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>verdeckt</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:100" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          {% if not session.logged_in %}
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login_btn">login \ sign up</button>
          </li>
          {% else %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('logout') }}'" type="button">logout</button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#change_btn">change password</button>
          </li>
          {% endif %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('show_all_brands') }}'" type="button">brands</button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#email_btn"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" type="button"><i class="fa fa-instagram" aria-hidden="true"></i></button>
          </li>
          {% if session.logged_in and (current_user.id[0] == 'alphamotif' or current_user.id[0] == 'verdeckt_admin') %}
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#add_btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="page-title">
            <li>
              <a href="{{ url_for('show_home') }}"><h1>verdeckt</h1></a>
            </li>
          </div>
        </ul>
      </div>
    </nav>

    {% if error %}
    <div class="container">
      <div class="col-sm-3">
        <div class="error-msg">
          <p>{{ error }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <h1><a href="https://www.facebook.com/alphamotif/"><small><i class="fa fa-facebook-f" aria-hidden="true"></i></small></a> \ <a href="https://www.instagram.com/alpha_motif/"><small><i class="fa fa-instagram" aria-hidden="true"></i></small></a> \ <a href="http://www.alphamotif.net/">Alphamotif</a></h1>
      <div class="jumbotron overview">
        <div class="brand-overview">
          <p>No mass production - this is the mantra of Alphamotif. Each item is limited in quantity and availability. Unrelenting in the pursuit of quality, Alphamotif knows high-end textiles to a near unparalleled degree.</p>
        </div>
      </div>
      <ul class="vendor-tag-list">
        {% if brand['type_1'] %}
        <li>{{ brand['type_1'] }}</li>
        {% endif %}

        {% if brand['type_2'] %}
        <li>{{ brand['type_2'] }}</li>
        {% endif %}

        {% if brand['type_3'] %}
        <li>{{ brand['type_3'] }}</li>
        {% endif %}

        {% if brand['loc'] %}
        <li>{{ brand['loc'] }}</li>
        {% endif %}

        {% if brand['shipping'] %}
        <li>{{ brand['shipping'] }}</li>
        {% endif %}

        {% if brand['category'] %}
        <li>{{ brand['category'] }}</li>
        {% endif %}        
      </ul>
    </div>

    <div class="container">
      <h1>pieces</h1>
      <div class="jumbotron">  
        <div class="row">
        {% for item in items %}
        <div class="col-sm-4 vendor-item">
          {% if item['price'] %}
          <div class="item-title">
            <p>{{ item['itemName'] }} \ <span class="item-price"><small>$</small>{{ item['price'] }}</span></p>
          </div>
          {% else %}
          <div class="item-title">
            <p>{{ item['itemName'] }}</p>
          </div>
          {% endif %}
          <img src="{{ item['pathToImg'] }}">
          <div class="item-description">
            <p>{{ item['description'] }}</p>
          </div>
          {% if session.logged_in and (current_user.id[0] == 'alphamotif' or current_user.id[0] == 'verdeckt_admin') %}
          <div class="item-delete-btn">
            <form action="{{ url_for('update_alphamotif') }}" method="POST">
              <input type="hidden" name="action" value="del_item"> 
              <input type="hidden" name="itemName" value="{{ item['itemName'] }}">
              <button type="submit" value="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </form>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    </div>

    <div id="login_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>sign up and\or login</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_alphamotif') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="text" name="email" placeholder="email" required class="right-just">
                  <input type="password" name="password" placeholder="password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" name="action" value="login"><i class="fa fa-user" aria-hidden="true"></i></button>
                  <button type="submit" name="action" value="signup"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="change_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>change your password</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_alphamotif') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="password" placeholder="new password" name="new_password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" class="submit_btn" name="action" value="change"><i class="fa fa-key" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="email_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>email us</h3>
          </div>
          <div class="modal-body">
            <form id="contact_form" action="{{ url_for('show_alphamotif') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <textarea form="contact_form" name="email_subject" cols="50" rows="1" placeholder="subject"></textarea>
                  <textarea form="contact_form" name="email_content" cols="50" rows="5" placeholder="content"></textarea>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" class="submit_btn" name="action" value="email"><i class="fa fa-comment" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="add_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>add an item</h3>
        </div>
        <div class="modal-body">
          <form id="new_item_form" action="{{ url_for('update_alphamotif') }}" method="POST" enctype="multipart/form-data">
            <div class="fields-wrapper">
              <div class="fields">
                <textarea form="new_item_form" name="itemName" cols="50" rows="1" placeholder="item name" required></textarea>
                <textarea form="new_item_form" name="itemDesc" cols="50" rows="5" placeholder="item description" required></textarea>
                <div class="price-field">
                  <input type="text" placeholder="price (optional)" name="itemPrice">
                </div>
                <div class="file-field">
                  <input type="file" name="file" accept="image/*" required>
                </div>
                <input type="hidden" name="action" value="add_item">
              </div>
            </div>
            <div class="submit-wrapper">
              <div class="submit-btn">
                <button type="submit" class="submit-btn" value="upload_item"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../static/scripts/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>