<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>vanilla</title>

    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:100" rel="stylesheet">


  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <!-- <button class="btn btn-default navbar-btn" onclick="document.getElementById('login_btn').style.display='block'">Login \ Sign Up</button> -->
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login_btn">Login \ Sign up</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{ url_for('show_home') }}"><h1>Heavy Industries Holding Co.</h1></a>
          </li>
        </ul>
      </div>
    </nav>

    {% if not session.logged_in %}

    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    

    <div id="login_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Login (or) Sign up (or) Don't, I don't care</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_home') }}" method="POST">
              <input type="text" name="email" placeholder="email"required>
              <input type="password" name="password" placeholder="password" required>
              <input type="submit" name="action" value="login">
              <input type="submit" name="action" value="signup">
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- show logout button if current visitor is logged in -->
    {% else %}
    <p>hello {{ current_user.id[0] }} {{ current_user.id[1] }}</p>

    <button onclick="document.getElementById('change_btn').style.display='block'" style="width:auto;">change your password, dungus</button>
    <div id="change_btn" class="modal">
    <form action="{{ url_for('show_home') }}" method="POST">
      <input type="password" placeholder="New Password" name="new_password" required>
      <button type="submit" class="submit_btn" name="action" value="change">update</button>
    </div>

    <h2><a href="{{ url_for('logout') }}">log out</a></h2>
    {% endif %}


    <h3><a href="{{ url_for('show_sample_vendor') }}">sample vendor</a></h3>

    <h3><a href="{{ url_for('show_store2') }}">store2</a></h3>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
  </body>

  <script>
  // Get the modal
  var modal = document.getElementById('login_btn');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
</html>
