<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>H.I.H.Co.</title>

    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:100" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          {% if not session.logged_in %}
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login_btn">Login \ Sign up</button>
          </li>
          {% else %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('logout') }}'" type="button">Logout</button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#change_btn">Change Password</button>
          </li>
          {% endif %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='#contact'" type="button">Contact</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="page-title">
            <li>
              <a href="{{ url_for('show_home') }}"><h1>flat dog \ FLAT DOG</h1></a>
            </li>
          </div>
        </ul>
      </div>
    </nav>

    {% if error %}
    <div class="container">
      <div class="col-sm-3">
        <div class="error-msg">
          <p>{{ error }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <h1>Upcoming Drops</h1>
      <div class="jumbotron">
        <div class="row-fluid">

          <div class="col-sm-3 padding-sm">
            <div class="upcoming-drop">
              <h3 class="drop-title">Flat Dog Emporium</h3>
              <h4>2017 \ 08 \ 12</h4>
              <h4 id="timer1"></h4>
            </div>
          </div>

          <div class="col-sm-3 padding-sm">
            <div class="upcoming-drop">
              <h3 class="drop-title">Represent Clo.</h3>
              <h4>2017 \ 08 \ 12</h4>
              <h4 id="timer2"></h4>
            </div>
          </div>

          <div class="col-sm-3 padding-sm">
            <div class="upcoming-drop">
              <h3 class="drop-title">Steady Hands Apparel</h3>
              <h4>2017 \ 08 \ 12</h4>
              <h4 id="timer3"></h4>
            </div>
          </div>

          <div class="col-sm-3 padding-sm">
            <div class="upcoming-drop">
              <h3 class="drop-title">Anti Social Social Club</h3>
              <h4>2017 \ 08 \ 12</h4>
              <h4 id="timer4"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Featured Brands</h1>
      <div class="jumbotron">
        <div class="featured-pic">
          <img src="../static/homepage/home1.jpg">
          <img src="../static/homepage/home2.jpg">
          <img src="../static/homepage/home3.jpg">
        </div>
      </div>
    </div>

    <div class="container">
      <h1>All Brands</h1>
      <div class="jumbotron">
        {% for item in items %}
        <div class="col-sm-3">
          <div class="vendor-name">
            <p><a href="/{{ item['vendorName'] }}">{{ item['displayName'] }}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>  
    </div>

    <div class="container" id="contact">
      <h1>Get Your Shit on Our Site</h1>
      <div class="jumbotron">
        <div class="contact-info">
          <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> chrisp@vanillaclo.com \ <i class="fa fa-instagram" aria-hidden="true"></i>
 @bigdumbchrisp</h3>
          <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> mattt@FLATDOG.com \<a href="https://github.com/mattjp"><i class="fa fa-github" aria-hidden="true"></i> @mattjp</a></h3>
        </div>
      </div>
    </div>

    <div id="login_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Login (or) Sign up (or) Don't</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_home') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="text" name="email" placeholder="email" required class="right-just">
                  <input type="password" name="password" placeholder="password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="btn">
                  <button type="submit" name="action" value="login">Login</button>
                  <button type="submit" name="action" value="signup">Sign up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="change_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Change Your Password</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_home') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="password" placeholder="New Password" name="new_password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="btn">
                  <button type="submit" class="submit_btn" name="action" value="change">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>

  <script>
  var modal = document.getElementById('login_btn');
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

  <script>
    var countDownDate = new Date("Aug 12, 2017 21:00:00").getTime();
    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("timer1").innerHTML = days + " \\ " + hours + " \\ "
      + minutes + " \\ " + seconds;
      document.getElementById("timer2").innerHTML = days + " \\ " + hours + " \\ "
      + minutes + " \\ " + seconds;
      document.getElementById("timer3").innerHTML = days + " \\ " + hours + " \\ "
      + minutes + " \\ " + seconds;
      document.getElementById("timer4").innerHTML = days + " \\ " + hours + " \\ "
      + minutes + " \\ " + seconds;
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer1").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>

  <script>
    $('html, body').stop().animate({
     'scrollTop': $target.offset().top
}, 900, 'swing');
  </script>
</html>
