<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>store2</title>

    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>

  <body align="center">
    <h1>Second store for testing purposes</h1>

    {% if session.logged_in %}
    <p> {{ current_user.id[0] }} {{ current_user.id[1] }}</p>

    {% if current_user.id[0] == 'store2' %}
    <button onclick="document.getElementById('add_btn').style.display='block'" style="width:auto;">Add New Item</button>
    <div id="add_btn" class="modal">
      <form action="{{ url_for('store2_add') }}" method="POST" enctype="multipart/form-data">
        <div class="container">
          <input type="text" placeholder="Name" name="itemName" required>
          <input type="text" placeholder="Item description" name="itemDesc" required>
          <input type="file" name="file" accept="image/*" required>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('add_btn').style.display='none'" class="cancel_btn">Cancel</button>
            <button type="submit" class="submit_btn" value="Upload">Add Item</button>
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    {% else %}
    <p> log in before you get fucking flattened </p>
    {% endif %}

    <h3><a href="{{ url_for('show_home') }}">back to safety</h3>

    <table>
    {% for item in items %}
      <tr>
        <td><p> {{ item['itemName'] }} </p></td>
        <td><p> {{ item['description'] }} </p></td>
        <td><p> {{ item['vendor'] }} </p></td>
        <td><p> {{ item['pathToImg'] }} </p></td>
      </tr>
    {% endfor %}
    </table>

  </body>

  <script>
  // Get the modal
  var modal = document.getElementById('add_btn');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
</html>