<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>verdeckt</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:100" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          {% if not session.logged_in %}
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login_btn">login \ sign up</button>
          </li>
          {% else %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('logout') }}'" type="button">logout</button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#change_btn">change password</button>
          </li>
          {% endif %}
          <li>
            <button class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('show_all_brands') }}'" type="button">brands</button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#email_btn"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
          </li>
          <li>
            <button class="btn btn-default navbar-btn" type="button"><i class="fa fa-instagram" aria-hidden="true"></i></button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="page-title">
            <li>
              <a href="{{ url_for('show_home') }}"><h1>verdeckt</h1></a>
            </li>
          </div>
        </ul>
      </div>
    </nav>

    {% if error %}
    <div class="container">
      <div class="col-sm-3">
        <div class="error-msg">
          <p>{{ error }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="goodbye">
        <a href="https://github.com/mattjp/vanilla"><p>made by humans <i class="fa fa-github" aria-hidden="true"></i></p></a>
      </div>
    </div>

    <div id="login_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>sign up and\or login</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_home') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="text" name="email" placeholder="email" required class="right-just">
                  <input type="password" name="password" placeholder="password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" name="action" value="login"><i class="fa fa-user" aria-hidden="true"></i></button>
                  <button type="submit" name="action" value="signup"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="change_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>change your password</h3>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('show_home') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <input type="password" placeholder="new password" name="new_password" required>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" class="submit_btn" name="action" value="change"><i class="fa fa-key" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="email_btn" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>email us</h3>
          </div>
          <div class="modal-body">
            <form id="contact_form" action="{{ url_for('show_home') }}" method="POST">
              <div class="fields-wrapper">
                <div class="fields">
                  <textarea form="contact_form" name="email_subject" cols="50" rows="1" placeholder="subject"></textarea>
                  <textarea form="contact_form" name="email_content" cols="50" rows="5" placeholder="content"></textarea>
                </div>
              </div>
              <div class="submit-wrapper">
                <div class="submit-btn">
                  <button type="submit" class="submit_btn" name="action" value="email"><i class="fa fa-comment" aria-hidden="true"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
