/* Body ***********************************************************************/
body {
  padding-top: 100px;
  background-color: #d1d9dc;
}


/* Nav Bar ********************************************************************/
.nav ul {
	margin: 0px;
}

.navbar-btn {
	margin-top: 26px;
	margin-right: 8px;
	vertical-align: middle;
	background-color: #676a6f;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	border-radius: 0px;
	border-width: 1px;
	border-color: #fff;
	transition-duration: 0.25s;
}

.navbar-btn:hover {
	color: #676a6f;
	background-color: #fff;
}

.navbar-btn:focus {
	color: #fff;
	background-color: #676a6f;
	outline: none;
	border-width: 1px;
	border-color: #fff;
}

.navbar-right h1 {
	margin-top: 10px;
	margin-bottom: 15px;
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	color: #fff;
	font-size: 400%;
	letter-spacing: 4px;
}

.navbar-fixed-top {
	background-color: #676a6f;
	opacity: 0.6;
	border-width: 0px;
}

.navbar-nav > li > a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}


/* Modal **********************************************************************/
.modal-header {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	border-width: 0px;
	border-radius: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #dde2e3;
	color: #43454C;
}

.modal-content {
	font-family: 'Roboto', sans-serif;
	border-width: 0px;
	border-radius: 0px;
	background-color: #dde2e3;

}

.modal-body .fields-wrapper {
	width: 100%;
	text-align: center;
}

.modal-body .fields input {
	width: 50%;
	color: #43454C;
	font-family: 'Roboto', sans-serif;
	background-color: #dde2e3;
	padding: 6px 12px;
    margin-bottom: 10px;
	box-sizing: border-box;
    border: 1px solid #798486;
    transition: 0.5s;
    outline: none;
    text-align: center;
}

.modal-body .fields input:focus {
    background-color: #c4d0d9;
}

.modal-body .submit-wrapper {
	text-align: center;
	margin-top: -6px;
}

.modal-body .btn button {
	color: #43454C;
	background-color: #dde2e3;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	border: 1px solid #798486;
	padding: 6px 18px;
	transition-duration: 0.3s;
}

.modal-body .btn button:hover {
	background-color: #c4d0d9;
}

.modal-body .btn button:focus {
	outline: none;
}

/* Upcoming drops *************************************************************/
.jumbotron p {
	text-align: right;
	font-family: 'Roboto', sans-serif;
	padding-right: 10px;
	border-right: 1px solid #708486;
}

.padding-sm {
	padding-left: 5px;
	padding-right: 5px;
}

.upcoming-drop {
	border: 1px solid #798486;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 8px;
	transition-duration: 0.3s;
}

.upcoming-drop h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #605c64;
}

.upcoming-drop:hover {
	background-color: #dde2e3;
	border-color: #000;
}

.upcoming-drop:focus {
	outline: none;
}

.drop-title h3 {
	display: inline-block;
}

.drop-title span {
	margin-left: 100px;
}


.container h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	text-align: right;
	padding-right: 12px;
}

.container .jumbotron {
	background-color: #d1d9dc;
	border-radius: 0;
	border-top: 1px solid #798486;
	padding: 10px 10px;
	width: 100%;
}

.container .jumbotron .featured-pic img {
	width: 33%;
	margin: 0;
	transition-duration: 0.3s;
}

.container .jumbotron .featured-pic img:hover {
	opacity: 0.5;
}

/* Brands *********************************************************************/

.vendor-name p > a {
	color: #605c64;
}
























